In [32]:
from sqlalchemy import *
from sqlalchemy.pool import NullPool
DATABASEURI = "postgresql://cb3331:515059@35.196.90.148/proj1part2"
engine = create_engine(DATABASEURI)

In [230]:
engine.execute("""CREATE TABLE IF NOT EXISTS Movie (                                        
movie_id INTEGER,
name VARCHAR(200) NOT NULL,
overview TEXT,
country VARCHAR(50),
release_date DATE,
rate DECIMAL(3,1) CHECK (rate >= 0 AND rate <=10),
poster VARCHAR(512),
background VARCHAR(512),
PRIMARY KEY(movie_id) );
""")

engine.execute("""CREATE TABLE IF NOT EXISTS Users (
username VARCHAR(20),
password VARCHAR(20) NOT NULL,
PRIMARY KEY(username) );
""")

engine.execute("""CREATE TABLE IF NOT EXISTS Likes (
username VARCHAR(20),                                                                               
movie_id INTEGER,
PRIMARY KEY (username, movie_id),
FOREIGN KEY (username) REFERENCES Users ON DELETE CASCADE,
FOREIGN KEY (movie_id) REFERENCES Movie ON DELETE CASCADE);
""")

engine.execute("""CREATE TABLE IF NOT EXISTS Director (
director_id INTEGER,
name VARCHAR(50) NOT NULL,
place_of_birth VARCHAR(100),
birthday DATE,
biography TEXT,
profile VARCHAR(512),
PRIMARY KEY(director_id) );
""")

engine.execute("""CREATE TABLE IF NOT EXISTS Actor (
actor_id INTEGER,
name VARCHAR(50) NOT NULL,
place_of_birth VARCHAR(100),
birthday DATE,
biography TEXT,
profile VARCHAR(512),
PRIMARY KEY(actor_id) );
""")

engine.execute("""CREATE TABLE IF NOT EXISTS Direct (
director_id INTEGER,
movie_id INTEGER,
PRIMARY KEY (director_id, movie_id),
FOREIGN KEY (director_id) REFERENCES Director ON DELETE CASCADE,
FOREIGN KEY (movie_id) REFERENCES Movie ON DELETE CASCADE);
""")

engine.execute("""CREATE TABLE IF NOT EXISTS Act (
actor_id INTEGER,
movie_id INTEGER,
PRIMARY KEY (actor_id, movie_id),
FOREIGN KEY (actor_id) REFERENCES Actor ON DELETE CASCADE,
FOREIGN KEY (movie_id) REFERENCES Movie ON DELETE CASCADE);
""")

engine.execute("""CREATE TABLE IF NOT EXISTS Genre (
genre_id INTEGER,
name VARCHAR(20) UNIQUE,
PRIMARY KEY (genre_id) );
""")

engine.execute("""CREATE TABLE IF NOT EXISTS Belong (
movie_id INTEGER,
genre_id INTEGER,
PRIMARY KEY (genre_id, movie_id),
FOREIGN KEY (genre_id) REFERENCES Genre ON DELETE CASCADE,
FOREIGN KEY (movie_id) REFERENCES Movie ON DELETE CASCADE);
""")

engine.execute("""CREATE TABLE IF NOT EXISTS Review (
review_id VARCHAR(100),
author VARCHAR(20),
content TEXT,
movie_id INTEGER NOT NULL,
PRIMARY KEY (review_id),
FOREIGN KEY (movie_id) REFERENCES Movie ON DELETE CASCADE);
""")

engine.execute("""CREATE TABLE IF NOT EXISTS Company (
company_id INTEGER,
name VARCHAR(50) NOT NULL,
logo VARCHAR(512),
description TEXT,
PRIMARY KEY (company_id) );
""")

engine.execute("""CREATE TABLE IF NOT EXISTS Produce (
company_id INTEGER,
movie_id INTEGER,
PRIMARY KEY (company_id, movie_id),
FOREIGN KEY (company_id) REFERENCES Company ON DELETE CASCADE,
FOREIGN KEY (movie_id) REFERENCES Movie ON DELETE CASCADE);
""")

In [229]:
# engine.execute("DROP TABLE actor CASCADE;")
# engine.execute("DROP TABLE director CASCADE;")
# engine.execute("DROP TABLE review CASCADE;")

In [234]:
import tmdbsimple as tmdb
from sqlalchemy import text
tmdb.API_KEY = 'd4c5ccd6e0a08de4e2ad41d3d8d25a9c'

movie = tmdb.Movies()
l = movie.popular(page=1)

In [211]:
def convert(s):
    return s if s == None else s.replace("'", "''")

In [212]:
import time

def validate(s):
    try:
        valid_date = time.strptime(s, '%Y-%m-%d')
        return s
    except:
        return 'infinity'

In [ ]:
for i in range(10,50):
    print(i)
    l = movie.popular(page=i)
    for e in l['results']:
        movie_id = e['id']
        m = tmdb.Movies(movie_id)
        info = m.info()
        c = m.credits()
#         print(m.title)
        
        engine.execute("""INSERT INTO movie SELECT {0},'{1}','{2}','{3}','{4}',{5},'{6}','{7}'
                WHERE NOT EXISTS (SELECT * FROM movie WHERE movie_id = {0});""".format(
                m.id, convert(m.title), convert(m.overview), 
                None if len(m.production_countries) == 0 else m.production_countries[0]['name'], 
                m.release_date, m.vote_average, 
                m.poster_path, m.backdrop_path))
        
        for company in info['production_companies']:
            try:
                company_id = company['id']
                c = tmdb.Companies(company_id)
                info = c.info()
                engine.execute("""INSERT INTO company SELECT {0},'{1}','{2}','{3}'
                    WHERE NOT EXISTS (SELECT * FROM company WHERE company_id = {0});""".format(
                    c.id, convert(c.name), c.logo_path, convert(c.description)))
                engine.execute("""INSERT INTO produce SELECT {0}, {1}
                    WHERE NOT EXISTS (SELECT * FROM produce WHERE company_id = {0} AND movie_id = {1});""".format(
                    c.id, m.id))
            except:
                print('company error -- ignore')
        
        for actor in m.cast[:4]:
            try:
                actor_id = actor['id']
                a = tmdb.People(actor_id)
                info = a.info()
                engine.execute("""INSERT INTO actor SELECT {0},'{1}','{2}','{3}','{4}','{5}'
                 WHERE NOT EXISTS (SELECT * FROM actor WHERE actor_id = {0});""".format(
                 a.id, convert(a.name), convert(info.get('place_of_birth')), validate(info.get('birthday')), 
                convert(info.get('biography')), info.get('profile_path')))
                engine.execute("""INSERT INTO act SELECT {0}, {1}
                 WHERE NOT EXISTS (SELECT * FROM act WHERE actor_id = {0} AND movie_id = {1});""".format(
                 a.id, m.id))
            except:
                print('actor error -- ignore')
            
        for crew in m.crew:
            try:
                if crew['job'] == 'Director':
                    director_id = crew['id']
                    d = tmdb.People(director_id)
                    info = d.info()
                    engine.execute("""INSERT INTO director SELECT {0},'{1}','{2}','{3}','{4}','{5}'
                     WHERE NOT EXISTS (SELECT * FROM director WHERE director_id = {0});""".format(
                     d.id, convert(d.name), convert(info.get('place_of_birth')), validate(info.get('birthday')), 
                    convert(info.get('biography')), info.get('profile_path')))
                    engine.execute("""INSERT INTO direct SELECT {0}, {1}
                     WHERE NOT EXISTS (SELECT * FROM direct WHERE director_id = {0} AND movie_id = {1});""".format(
                     d.id, m.id))
            except:
                print('director error -- ignore')
                
        for g in m.genres:
            try:
                engine.execute("""INSERT INTO genre SELECT {0},'{1}'
                  WHERE NOT EXISTS (SELECT * FROM genre WHERE genre_id = {0});""".format(
                  g['id'], g['name']))
                engine.execute("""INSERT INTO belong SELECT {0},{1}
                  WHERE NOT EXISTS (SELECT * FROM belong WHERE movie_id = {0} AND genre_id = {1});""".format(
                  m.id, g['id']))
            except:
                print('genre error -- ignore')
        
        reviews = m.reviews()
        for r in reviews['results'][:3]:
            try:
                engine.execute(text("""INSERT INTO review SELECT '{0}','{1}','{2}','{3}'
                   WHERE NOT EXISTS (SELECT * FROM review WHERE review_id = '{0}');""".format(
                   r['id'], r['author'], convert(r['content']), m.id)))
            except:
                print('review error -- ignore')

10
11
review error -- ignore
12
review error -- ignore
13
14
15
16
review error -- ignore
17
18
actor error -- ignore
19
20
company error -- ignore
21
22
23
24
company error -- ignore
company error -- ignore
25
company error -- ignore
26
company error -- ignore
company error -- ignore
27
28
company error -- ignore
company error -- ignore
29
30
31
32
33
review error -- ignore
34
company error -- ignore
35
36
37
company error -- ignore
38
39
40

In [246]:
cursor = engine.execute("""SELECT actor.name FROM actor, movie, act 
    WHERE act.movie_id = movie.movie_id AND act.actor_id = actor.actor_id AND movie.name = 'Avatar';""")
for r in cursor:
    print(r)
cursor.close()

('Sam Worthington',)
('Zoe Saldana',)
('Sigourney Weaver',)
('Stephen Lang',)
('Michelle Rodriguez',)